#gameContainer{
  text-align: center;
}
#gameBoard{
    border: 4px solid ;
}
.container{
    display: flex;
    justify-content: center;
}
#scoreText{
    font-size: 100px;
}
#resetBtn{
    font-size: 22px;
    width: 53px;
    height: max-content;
    border: 2px solid;
    cursor: pointer;  
    margin: 100px 0px 0px 0px;
}