#gameContainer{
  text-align: center;
  border: 2px solid black;
}
#gameBoard{
    border: 4px solid;
}
.container{
    display: flex;
    justify-content: center;
}
#scoreText{
    font-size: 100px;
    text-align: center;
    font-size: 80px;
}
#resetBtn{
    font-size: 22px;
    width: 53px;
    height: max-content;
    border: 2px solid;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}